@charset "utf-8";

/* 样式重置 */
* {margin: 0;padding: 0;}
em {font-style: normal;}
li {list-style: none;}
a {text-decoration: none;}
img {border: none;vertical-align: top;}
table {border-collapse: collapse;}
input,textarea {outline: none;}
textarea {resize: none;overflow: auto;}
body {font-size: 12px;font-family: "微软雅黑";}

/* 公共样式 */
.clear { zoom: 1;}
.clear:after {content: ''; display: block; clear: both;}
.fl {float: left;}
.fr {float: right;}
.gradient {
    background: -moz-linear-gradient(top, #FFFFFF, #f8f8f8);
    background: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
    background: -ms-linear-gradient(top, #ffffff, #f8f8f8);
    background: linear-gradient(top, #ffffff, #f8f8f8);
    background: #f9f9f9;
}

/* 布局样式 */
#header, #nav, .content {    
    width: 960px;
    margin: 0 auto;
}
#search, .section, .side_section, .side_ad, #footer{
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}
.main_ad, .side_section, .side_ad{    
    margin-bottom: 10px;
}

body {
    margin-bottom: 30px;
}
#header {
    height: 30px;
    border-radius: 0 0 6px 6px;
}
#nav {
    height: 100px;
}
#search {
    width: 958px;
    height: 114px;
    margin: 0 auto 10px;
}
.main {
    width: 710px;
}
.main_wrap {
    padding-bottom: 10px;
}
.section {
    width: 318px;
    height: 200px;
    padding: 0 15px;
}
.options {
    width: 350px;
    height: 200px;
    position: relative;
}
.main_ad {
    border-radius: 6px;
    overflow: hidden;
}
.main_ad img{
    width: 100%;
}
.side {
    width: 240px;
}
.side_section {
    height: 60px;
    padding: 0 12px;
}
.side_ad {
    overflow: hidden;
}
#footer {
    width: 958px;
    height: 78px;
    margin: 0 auto;
    background: #f9f9f9;
}

/* 多选栏 */
.options .nav{
    height: 34px;
    position: relative;
    z-index: 2;
}
.options .nav li{
    width: 172px;
    height: 33px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
}
.options .nav .active{
    width: 172px;
    height: 34px;
    background: white;
}
.options .con{
    width: 348px;
    height: 80px;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 1;
}

/* 头部 */
#header .city{ 
    float: left;
    padding: 4px 20px;
}   
#header .city a{
    display: inline-block;
    padding: 0 7px;
    height: 18px;
    line-height: 18px;
    color: #999;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #ededed;
}
#header .city .active{
    color: #d60d03;
}
#header .city .active:hover{
    color: #d60d03;
    background: white;
}
#header .city a:hover{
    background: #f1f1f1;
}
#header .link{ 
    float: right;
    line-height: 30px;
    padding-right: 20px;
    color: #d5d5d5;
    word-spacing: 4px;
}
#header .link a{
    color: #666;
}
#header .link a:hover{
    text-decoration: underline;
}
#header .link img{
    padding-top: 4px;
    height: 18px;
    justify-content: center;
    align-items: center;
}

/* 导航栏 */
.nav_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_content .nav_1, .nav_content .nav_2 {
    display: flex;
    flex: 5;
}
.nav_content h1{
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
}
.nav_content .nav_1 li, .nav_content .nav_2 li {
    flex: 1;
    text-align: center;
    transition-duration: 0.4s;
}
.nav_content li:hover {
    /* border: 1px solid #d60d03;
    border-radius: 50%; */
    transform: scale(1.2,1.2);
}
.nav_content li img{
    height: 35px;
    margin-top: 7px;
}
.nav_content li a div{
    color: #666;
    margin: 5px 0;
}
.nav_content h1 img{
    width: 100px;
}
.nav_content a:hover {
    text-decoration: underline;
}